/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
    --primary: #c48628;
    --secondary: #f4ceae;
    --gray-primary: #949494;
    --gray-secondary: #C4C4C4;
    --error: #C30000;
}